body, html {
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 2s ease;
    font-family: consolas;
}

.container {
    text-align: center;
}

#range-para {
    font-size: 2em;
    color: white;
    margin-bottom: 20px;
}

#random-number {
    font-size: 6em;
    color: white;
    transition: all 2s ease;
}

#cover-div {
    width: 150px;
    height: 150px;
    background: white;
    margin: 20px auto;
    border-radius: 50%;
}

.text-group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#state {
    font-size: 1.5em;
    color: white;
    margin-bottom: 10px;
}




@media only screen and (max-width: 600px) {
    body {
        font-size: 1em;
    }

    #range-para {
        font-size: 1em;
    }

    #random-number {
        font-size: 3em;
    }

    #cover-div {
        font-size: 3em;
    }
}
